.container{
    height: 400px;
    margin: 0 auto;
    position: sticky;
    top: 100px;
    background: var(--white);
    border-radius: 10px;
    text-align: center;
}
.buttons{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.quantity{
    font-size: 12px;
    color: var(--color-gray-600);
}
.coutPosts{
    color: var(--black);
}

@media screen and (min-width: 670px) and (max-width: 900px){
    .container{
        height: 350px;
    }
    .buttons{
        width: 150px;
    }
    .quantity{
        font-size: 10px;
    }
}
@media screen and (min-width: 550px) and (max-width: 670px){
    .container{
        height: 350px;
        border-radius: 8px;
    }
    .buttons{
        width: 130px;
    }
    .quantity{
        font-size: 8px;
    }
}
@media screen and (min-width: 380px) and (max-width: 550px){
    .container{
        height: 350px;
        border-radius: 5px;
    }
    .buttons{
        width: 100px;
    }
    .quantity{
        font-size: 6px;
    }
}
@media screen and (max-width: 380px){
    .container{
        height: 350px;
        border-radius: 3px;
        top: 50px;
    }
    .buttons{
        width: 80px;
    }
    .quantity{
        font-size: 6px;
    }
}


