.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: var(--transparent-300);
    z-index: 2;
}
.modalContent{
    padding: 5px 5px 5px 50px;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    margin: 10px;
    max-height: 750px;
    height: 100%;
    max-width: 1500px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background: var(--transparent);
    border-radius: 40px;
    cursor: pointer;
    color: var(--color-gray-500);
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 50px;
    transition: .5s;

}
.btn:hover{
    color: var(--black);
}

@media screen and (min-width: 720px) and (max-width: 1500px){
    .modalContent{
        padding: 4px 4px 4px 13px;
        border-radius: 8px;
        max-width: 700px;
        max-height: 430px;
    }
    .btn{
        font-size: 35px;
        height: 35px;
        width: 35px;
    }
}

@media screen and (min-width: 580px) and (max-width: 720px){
    .modalContent{
        padding: 4px 4px 4px 20px;
        border-radius: 8px;
        max-width: 550px;
        max-height: 350px;
    }
    .btn{
        font-size: 30px;
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 580px){
    .modalContent{
        padding: 2px 5px 2px 15px;
        border-radius: 5px;
        max-width: 320px;
        max-height: 190px;
        margin: 0;
    }
    .btn{
        font-size: 20px;
        height: 20px;
        width: 20px;
    }
} 
